<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<dict>
		<key>aa</key>
		<dict>
			<key>aaa</key>
			<array>
				<string>aaaa</string>
				<string>aaab</string>
				<string>aaac</string>
				<string>aaad</string>
			</array>
			<key>aab</key>
			<array>
				<string>aaba</string>
				<string>aabb</string>
				<string>aabc</string>
				<string>aabd</string>
			</array>
			<key>aac</key>
			<array/>
			<key>aad</key>
			<array/>
		</dict>
		<key>ab</key>
		<dict>
			<key>aba</key>
			<array/>
			<key>abb</key>
			<array>
				<string>abba</string>
				<string>abbb</string>
				<string>abbc</string>
				<string>abbd</string>
			</array>
		</dict>
		<key>ac</key>
		<dict/>
		<key>ad</key>
		<dict/>
	</dict>
	<key>b</key>
	<dict>
		<key>ba</key>
		<dict/>
		<key>bb</key>
		<dict/>
		<key>bc</key>
		<dict/>
		<key>bd</key>
		<dict/>
	</dict>
	<key>c</key>
	<dict>
		<key>ca</key>
		<dict/>
		<key>cb</key>
		<dict/>
		<key>cc</key>
		<dict/>
		<key>cd</key>
		<dict/>
	</dict>
	<key>d</key>
	<dict>
		<key>da</key>
		<dict/>
		<key>db</key>
		<dict/>
		<key>dc</key>
		<dict/>
		<key>dd</key>
		<dict/>
	</dict>
</dict>
</plist>
